<%= image_tag current_user.get_profile_image(100, 100) %>

<table class="table">
  <tbody>
    <tr>
      <th scope="col">name</th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th scope="col">introduction</th>
      <td><%= current_user.introduction %></td>
    </tr>
  </tbody>
</table>

<div class="mb-3">
  <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary col-12" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
</div>