<div class="container">
  <%= render "shared/error_messages", object: @new_book %>

  <div class="row">
    <div class="col-md-3">
      <h2 class="mb-3">User info</h2>
      <%= render "shared/user_info", user: current_user %>

      <h2 class="mb-3">New book</h2>
      <%= render "shared/new_book", new_book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="mb-3">Books</h2>
      <%= render "shared/books_table", books: @books %>
    </div>
  </div>
</div>