<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-center">Welcome to <strong><i class="fa-solid fa-book"></i> Bookers !!</strong></h1>
    </div>
  </div>
</div>